@model IEnumerable<WebApplication3.Models.Cadastro2>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qual_serviço_você_procura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qual_serviço_você_oferece)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qual_serviço_você_procura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qual_serviço_você_oferece)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idade">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idade">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idade">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
